<header>
  <h1>Valida RUT</h1>
  <p>Validación del RUT Chileno</p>
</header>
<div class="container">
  <div class="card-main">
    <h2>
      Una práctica herramienta que permite verificar si un RUT chileno tiene el
      formato correcto y coincide con su dígito de control.
    </h2>
  </div>
</div>
<form class="form-container" (ngSubmit)="validateRut()">
  <input class="input-field" type="text" id="rut" name="rut" required [(ngModel)]="rut" placeholder="Rut a Validar ej: 11111111-1" aria-describedby="sizing-addon1" id="txt_rut" (input)="checkInput()">
  <button class="btn-3d" type="submit">Validar RUT</button>
  <div [ngClass]="{'valid': validatorResult?.isValid, 'invalid': !validatorResult?.isValid}">
  {{ validatorResult?.isValid ? "RUT válido" : "RUT inválido" }}
</div>
</form>
<footer>&copy; Desarrollado por Orlibet Dun 2024</footer>

